In [28]:
%load_ext sql
%sql mysql://omaralibrandi:ombrellone2@localhost/pizza_ordering

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [29]:
%%sql
CREATE TABLE Ingredients (
    ingredient_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    cost DECIMAL(5,2) NOT NULL CHECK (cost > 0),
    is_vegetarian BOOLEAN NOT NULL,
    is_vegan BOOLEAN NOT NULL
);

 * mysql://omaralibrandi:***@localhost/pizza_ordering
(MySQLdb.OperationalError) (1050, "Table 'ingredients' already exists")
[SQL: CREATE TABLE Ingredients (
    ingredient_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    cost DECIMAL(5,2) NOT NULL CHECK (cost > 0),
    is_vegetarian BOOLEAN NOT NULL,
    is_vegan BOOLEAN NOT NULL
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [30]:
%%sql
CREATE TABLE Pizza (
    pizza_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    description TEXT
);

 * mysql://omaralibrandi:***@localhost/pizza_ordering
(MySQLdb.OperationalError) (1050, "Table 'pizza' already exists")
[SQL: CREATE TABLE Pizza (
    pizza_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    description TEXT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [32]:
%%sql
CREATE TABLE PizzaIngredient (
    pizza_id INT NOT NULL,
    ingredient_id INT NOT NULL,
    PRIMARY KEY (pizza_id, ingredient_id),
    FOREIGN KEY (pizza_id) REFERENCES Pizza(pizza_id) ON DELETE CASCADE,
    FOREIGN KEY (ingredient_id) REFERENCES Ingredient(ingredient_id) ON DELETE CASCADE
);

 * mysql://omaralibrandi:***@localhost/pizza_ordering
(MySQLdb.OperationalError) (1824, "Failed to open the referenced table 'Ingredient'")
[SQL: CREATE TABLE PizzaIngredient (
    pizza_id INT NOT NULL,
    ingredient_id INT NOT NULL,
    PRIMARY KEY (pizza_id, ingredient_id),
    FOREIGN KEY (pizza_id) REFERENCES Pizza(pizza_id) ON DELETE CASCADE,
    FOREIGN KEY (ingredient_id) REFERENCES Ingredient(ingredient_id) ON DELETE CASCADE
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [34]:
%%sql
CREATE TABLE Customer (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    birthdate DATE NOT NULL,
    address TEXT NOT NULL,
    postal_code VARCHAR(20) NOT NULL,
    email VARCHAR(100) UNIQUE,
    phone VARCHAR(20)
);

 * mysql://omaralibrandi:***@localhost/pizza_ordering
0 rows affected.

[]

In [35]:
%%sql
CREATE TABLE DiscountCode (
    code VARCHAR(50) PRIMARY KEY,
    discount_percentage DECIMAL(5,2) NOT NULL CHECK (discount_percentage > 0 AND discount_percentage <= 100),
    is_redeemed BOOLEAN NOT NULL DEFAULT FALSE,
    expiry_date DATE
)

 * mysql://omaralibrandi:***@localhost/pizza_ordering
(MySQLdb.OperationalError) (1050, "Table 'discountcode' already exists")
[SQL: CREATE TABLE DiscountCode (
    code VARCHAR(50) PRIMARY KEY,
    discount_percentage DECIMAL(5,2) NOT NULL CHECK (discount_percentage > 0 AND discount_percentage <= 100),
    is_redeemed BOOLEAN NOT NULL DEFAULT FALSE,
    expiry_date DATE
)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [43]:
%%sql
CREATE TABLE DeliveryPerson (
    delivery_person_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    assigned_postal_codes TEXT NOT NULL,  -- Could be a comma-separated string or a separate relation if complex
    is_available BOOLEAN NOT NULL DEFAULT TRUE
)

 * mysql://omaralibrandi:***@localhost/pizza_ordering
(MySQLdb.OperationalError) (1050, "Table 'deliveryperson' already exists")
[SQL: CREATE TABLE DeliveryPerson (
    delivery_person_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    assigned_postal_codes TEXT NOT NULL,  -- Could be a comma-separated string or a separate relation if complex
    is_available BOOLEAN NOT NULL DEFAULT TRUE
)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [45]:
%%sql
CREATE TABLE `Order` (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT NOT NULL,
    order_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    delivery_person_id BIGINT UNSIGNED,
    delivery_status VARCHAR(50) DEFAULT 'Pending',
    total_price DECIMAL(7,2),
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (delivery_person_id) REFERENCES DeliveryPerson(delivery_person_id),
    CHECK (total_price >= 0)
);

 * mysql://omaralibrandi:***@localhost/pizza_ordering
0 rows affected.

[]

In [46]:
%%sql
CREATE TABLE OrderItem (
    order_item_id SERIAL PRIMARY KEY,
    order_id INT NOT NULL,
    pizza_id INT NOT NULL,
    quantity INT NOT NULL CHECK (quantity > 0),
    FOREIGN KEY (order_id) REFERENCES `Order`(order_id) ON DELETE CASCADE,
    FOREIGN KEY (pizza_id) REFERENCES Pizza(pizza_id)
)

 * mysql://omaralibrandi:***@localhost/pizza_ordering
0 rows affected.

[]

In [47]:
%%sql
CREATE TABLE OrderDrink (
    order_drink_id SERIAL PRIMARY KEY,
    order_id INT NOT NULL,
    drink_id INT NOT NULL,
    quantity INT NOT NULL CHECK (quantity > 0),
    FOREIGN KEY (order_id) REFERENCES `Order`(order_id) ON DELETE CASCADE,
    FOREIGN KEY (drink_id) REFERENCES Drink(drink_id)
)

 * mysql://omaralibrandi:***@localhost/pizza_ordering
(MySQLdb.OperationalError) (3780, "Referencing column 'drink_id' and referenced column 'drink_id' in foreign key constraint 'orderdrink_ibfk_2' are incompatible.")
[SQL: CREATE TABLE OrderDrink (
    order_drink_id SERIAL PRIMARY KEY,
    order_id INT NOT NULL,
    drink_id INT NOT NULL,
    quantity INT NOT NULL CHECK (quantity > 0),
    FOREIGN KEY (order_id) REFERENCES `Order`(order_id) ON DELETE CASCADE,
    FOREIGN KEY (drink_id) REFERENCES Drink(drink_id)
)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [48]:
%%sql
CREATE TABLE OrderDessert (
  order_dessert_id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,  -- SERIAL alias expanded
  order_id INT NOT NULL,
  dessert_id INT NOT NULL,
  quantity INT NOT NULL CHECK (quantity > 0),
  CONSTRAINT fk_orderdessert_order
    FOREIGN KEY (order_id) REFERENCES orders(order_id) ON DELETE CASCADE,
  CONSTRAINT fk_orderdessert_dessert
    FOREIGN KEY (dessert_id) REFERENCES Dessert(dessert_id)
);

 * mysql://omaralibrandi:***@localhost/pizza_ordering
(MySQLdb.OperationalError) (1824, "Failed to open the referenced table 'orders'")
[SQL: CREATE TABLE OrderDessert (
  order_dessert_id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,  -- SERIAL alias expanded
  order_id INT NOT NULL,
  dessert_id INT NOT NULL,
  quantity INT NOT NULL CHECK (quantity > 0),
  CONSTRAINT fk_orderdessert_order
    FOREIGN KEY (order_id) REFERENCES orders(order_id) ON DELETE CASCADE,
  CONSTRAINT fk_orderdessert_dessert
    FOREIGN KEY (dessert_id) REFERENCES Dessert(dessert_id)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [21]:
%%sql
CREATE TABLE Drink (
    drink_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    price DECIMAL(5,2) NOT NULL CHECK (price >= 0),
    is_vegan BOOLEAN NOT NULL
)

 * mysql://omaralibrandi:***@localhost/pizza_ordering
0 rows affected.

[]

In [49]:
%%sql
CREATE TABLE Dessert (
    dessert_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    price DECIMAL(5,2) NOT NULL CHECK (price >= 0),
    is_vegan BOOLEAN NOT NULL
)

 * mysql://omaralibrandi:***@localhost/pizza_ordering
(MySQLdb.OperationalError) (1050, "Table 'dessert' already exists")
[SQL: CREATE TABLE Dessert (
    dessert_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    price DECIMAL(5,2) NOT NULL CHECK (price >= 0),
    is_vegan BOOLEAN NOT NULL
)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [50]:
%%sql
SHOW TABLES

 * mysql://omaralibrandi:***@localhost/pizza_ordering
9 rows affected.

[('Customer',),
 ('DeliveryPerson',),
 ('Dessert',),
 ('DiscountCode',),
 ('Drink',),
 ('Ingredients',),
 ('Order',),
 ('OrderItem',),
 ('Pizza',)]